.article {
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 770px;
  }

  &__header {
    &--title {
      text-align: center;
    }

    &--image {
      margin: 2em 0 1em;
    }

    &--meta {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-black;
      @include fontSize(18px);
      @include lineHeightRem(28.8px);

      &__wrapper {
        display: flex;
        align-items: center;
        // flex: 1;
        @media (max-width: 768px) {
          flex-flow: column nowrap;
        }

        &__image {
          width: 32px;
          height: 32px;

          img {
            border-radius: 50%;
            width: 32px;
            height: 32px;
          }
        }

        &__content {
          display: flex;
          align-items: center;
          flex-flow: row nowrap;
          gap: 16px;
          padding: 0 15px;

          @media (max-width: 768px) {
            padding: 0 10px;
            flex-flow: column nowrap;
            gap: 0;
          }
        }
      }

      &__icons {
        display: flex;
        > a {
          padding: 0 5px;
        }
      }
    }
  }

  &__content {
    h3 {
      margin: 2em 0 1em;
    }
    p {
      @media (min-width: 768px) {
        font-size: 1.125rem;
      }

      margin-bottom: 1.5625rem;
      a {
        border-bottom: 1px solid $color-primary;
      }
    }
  }

  &__author {
    text-align: center;
    margin: 2rem;

    &-profile {
      padding: 20px 0;
      line-height: 1;

      &--avatar {
        position: relative;

        &:before,
        &:after {
          border-top: 1px solid $color-gray-light;
          content: '';
          position: absolute;
          vertical-align: middle;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 35%;
        }

        &:after {
          left: auto;
          right: 0;
        }

        img {
          border-radius: 50%;
        }
      }
      &--name {
        @include fontSize(14px);
        color: $color-primary;
      }
    }

    &-content {
      @include fontSize(14px);
      margin-bottom: 1.5625rem;
      line-height: 160%;
    }

    &-tag {
      background: $color-primary;
      color: $color-white;
      display: inline;
      @include fontSize(12px);
      padding: 3px 6px;
      border-radius: 2px;
    }
  }
}

.article-related {
  padding: 2rem 0;

  &--title {
    text-align: center;
    position: relative;
    margin: 0 auto 30px !important;
    display: table;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 0;
    line-height: 1;
    clear: both;

    &:before,
    &:after {
      border-top: 1px solid $color-gray-light;
      content: '';
      display: table-cell;
      position: relative;
      vertical-align: middle;
      top: 0.7em;
      width: 50%;
    }

    &:before {
      right: 1.5%;
    }

    &:after {
      left: 1.5%;
    }
  }
}
