@import './fonts';
@import './colors';
@import './mixins';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: none;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0.1rem;
  border: 0;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  @include paddingRem(11px, 24px);
  @include fontSize(18px);
  @include lineHeightRem(22px);
  transition: all 0.5s ease-in;
  &:hover {
    transition: all 0.5s ease-in;
  }
}

// Sizes rel: width

.button--fullwidth {
  width: 100%;
}

.button--rounded {
  @include borderRadiusRem(3px);

  &-sm {
    @include borderRadiusRem(3px);
  }

  &-lg {
    @include borderRadiusRem(3px);
  }
}

.button--sm {
  @include fontSize(12px);
  @include paddingRem(9px, 16px);
  @include lineHeightRem(14px);
}

.button--lg {
  @include fontSize(20px);
  @include paddingRem(19px, 24px);
  @include lineHeightRem(22px);
}

.button--md {
  min-width: 100%;

  @media (min-width: 768px) {
    min-width: 250px;
  }
}

// Height

.button--height--md {
  @include paddingRem(18px, 20px);

  &.button--rounded {
    @include borderRadiusRem(3px);
  }
}

// Colors

.button--primary {
  color: $color-white;
  background: $color-primary;

  &:hover {
    background: darken($color-primary, 5%);
  }
}

.button--alternate {
  color: $color-primary;
  background: #fff;
  border: 1px solid $color-primary;

  &:hover {
    background: darken($color-white, 5%);
  }
}
.button--alternate-transparent {
  color: $color-primary;
  background: transparent;
  border: 1px solid $color-primary;

  &:hover {
    background: darken($color-white, 5%);
  }
}

.button--warning {
  color: $color-white;
  background: $color-danger-alternate;

  &:hover {
    background: darken($color-danger-alternate, 5%);
  }
}
