//-------------------------
// 💅 Colors
//-------------------------

// Variables to be used by all components
// ToDo: work with Andy to check these colors

$color-primary: #284053;
$color-primary-lighter: rgba($color-primary, 0.1);
$color-secondary: #337872;
$color-accent: #ebf0f4;
$color-black: #141414;
$color-light: #f5f7f7;
$color-primary-light: #e7f7f5;
$color-secondary-light: #fef6f7;
$color-accent-light: #f4f4f6;
$color-grey: #5b5b5b;
$color-gray-dark: #526675;
$color-gray-dark-secondary: #7e8d98;
$color-gray: #7e8d98;
$color-gray-mid: #d9d9d9;
$color-gray-light: #e9ebed;
$color-gray-xlight: #f3f3f3;
$color-gray-xlighter: #fafafa;
$color-info: #7179cf;
$color-success: #66d228;
$color-warning: #f79b17;
$color-warning-xlight: #fef5e7;
$color-warning-alpha: rgba(#ea8100, 0.1);
$color-warning-cvp: #ea8100;
$color-danger: #eb505b;
$color-danger-alternate: #e15856;
$color-danger-xlight: #fdedee;
$color-danger-alpha: rgba($color-danger, 0.1);
$color-blue: #2577d7;
$color-white: #fff;
$color-facebook: #33579e;
$color-google: #dc4e41;
$color-disable-primary: #89d8d0;

// Design Sprint
$color-ds-gray: #929faa;
$color-ds-mid-gray: #e0e0e0;
$color-ds-green: rgb(255, 255, 255);
$color-ds-gray-dark: #7c8f9f;
