input,
select,
option {
  font-family: 'Nunito Sans', sans-serif;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;

  label {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 1vh;
    /* identical to box height, or 110% */
    color: #284053;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  width: 100%;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.options-bar {
  display: flex;
  flex-direction: row;

  & > * {
    display: flex;
    width: 100%;
    flex-grow: 1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    // height: 60px;
    border: 1px solid transparent;
    padding: 10px;

    &.active,
    &:hover {
      color: $color-primary;
      background-color: $color-accent;
      border-radius: 3px;
      border: 1px solid $color-primary;
    }
  }
}

.checkbox-container {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 1vh;
  width: 100%;
  align-items: center;
  gap: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  label {
    margin: 0;
  }

  &:hover {
    cursor: pointer;

    & input ~ .checkmark {
      background-color: darken($color: $color-accent, $amount: 1);
    }
  }

  & input:checked ~ .checkmark {
    background-color: $color-primary;
  }

  & .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $color-accent;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #7e8d98;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  &.calculated {
    background: #e7f7f5;

    & input {
      background: transparent;
    }
  }

  input,
  select {
    display: inline-block;
    border: none;
    line-height: 22px;
    width: 100%;
    background: transparent;
    margin-left: 16px;
    margin-right: 16px;

    &:focus,
    &:focus-visible,
    &:focus-within {
      border: none;
      outline: none;
    }

    &.prefix--wd {
      width: 262px;
    }
    &.prefix,
    &.prefix--wd {
      margin-left: 16px;
      margin-right: 10px;
    }

    &.suffix {
      margin-right: 16px;
      margin-left: 10px;
    }
  }

  & div.prefix {
    display: inline;
    z-index: -1;
    height: 58px;
    width: 44px;
    padding: 17px 8px 17px 20px;
    background: #fafafa;
    box-shadow: inset -1px 0px 0px #7e8d98;
    border-radius: 8px 0px 0px 8px;
  }

  & div.suffix,
  & div.suffix--wd {
    display: inline;
    z-index: -1;
    box-shadow: inset 1px 0px 0px #7e8d98;
    border-radius: 0px 8px 8px 0px;
    height: 58px;
    width: 44px;
    padding: 17px 10px;
    background: #fafafa;
  }

  & div.suffix--wd {
    width: 90px;
  }
}

.input-icon {
  height: 24px;
  width: 24px;
}
