.header-ctas {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  white-space: nowrap;

  @media (min-width: 992px) {
    display: flex;
    position: relative;
    gap: 16px;
  }

  &--item {
    margin: 0;

    a {
      @include fontSize(18px);
      color: $color-black;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 800;
      font-weight: normal;
      padding: 1rem 0.5rem;
      border-radius: 20px;
      transition: background 0.5s ease-in;

      @media (min-width: 992px) {
        display: inherit;
        // padding: 0.7rem 0.8rem 0.7rem;
        padding: 0;
        border-top: 0;
      }

      &:hover {
        text-decoration: none;
        transition: background 0.5s ease-in;
        // color: #14b2a1;

        @media (min-width: 992px) {
          // background: #d4dfe7;
          // color: #14b2a1;
        }
      }
    }
  }
}
