@import './mixins';

$rem: 0.5;
@for $i from 1 through 6 {
  $rem: $rem + 0.5;
  .icn-#{$i} {
    height: #{$rem}rem;
    width: #{$rem}rem;
  }
}

svg[class^='icn-'] {
  &.prefix {
    margin-right: 0.5rem;
  }
  &.suffix {
    margin-left: 0.5rem;
  }
}
