.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    max-width: 45rem;
    padding: 0;
  }

  // @media (min-width: 992px) {
  //   max-width: 60rem;
  // }

  @media (min-width: 1200px) {
    max-width: 73.125rem;
    padding: 0;
  }
}

.disclaimerWrapperContainer {
  padding: 0;
  max-width: 770px;
  margin: 0 auto;

  @media (min-width: 768px) {
    // padding: 0 11.25rem;
  }
  p small {
    display: block;
  }
}

.loadingWrapper {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: '. a a .' '. a a .';
}

.centeredWrapper {
  grid-area: a;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 0.5rem;
  }

  p {
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #284053;
  }
}
