@import './colors';
@import './mixins';

.post {
  &--footer {
    padding-top: 3rem;

    &--wrapper {
      padding-top: 3rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #d4d9dd;

      @media (max-width: 768px) {
        flex-flow: column nowrap;
        gap: 1.5rem;
      }
    }

    &--author {
      display: flex;
      flex-flow: row nowrap;
      gap: 1.5rem;

      &--image {
        img {
          border-radius: 50%;
          height: 80px;
          width: 80px;
        }
      }

      &--details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 80px;
        padding: 10px 0;

        span {
          &:first-child {
            font-family: 'Nunito Sans', sans-serif;
            color: $color-black;
            font-weight: 900;
            @include fontSize(28.8px);
            @include lineHeightRem(24px);
          }
          &:last-child {
            font-family: 'Nunito Sans', sans-serif;
            color: #898988;
            font-weight: 500;
            @include fontSize(18px);
            @include lineHeightRem(21.6px);
          }
        }
      }
    }
  }
}
