.desk-item {
  display: inline-flex;
  flex-basis: 25%;
}

.pl {
  padding-left: 10px;
}

.pr {
  padding-right: 10px;
}

.mb {
  margin-bottom: 10px;
}

.r-95 {
  transform: rotate(95deg);
}

.desk-item a {
  display: inline-flex;
  text-decoration: none;
  color: rgb(38, 47, 61);
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.desk-item:hover {
  background: #efefef;
}

.desk-item a span {
  text-transform: capitalize;
}
.desk-item a svg {
  font-size: 2rem;
}

.icon {
  font-size: 2rem;
}
