.componentWrapper p {
  padding: 1em;
}

.iframeContainer iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iframeContainer p {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  color: palevioletred;
}
