
.seoItem {
  margin: 15px;
  margin-top: 30px;
}

.googleWrapper {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  padding: 12px;
}

.title {
  color: #1a0dab;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  white-space: 'nowrap';
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}

.url {
  height: 18px;
  color: #006621;
  font-size: 14px;
  line-height: 16px;
  white-space: 'nowrap';
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}

.description {
  color: #545454;
  font-size: 12px;
  line-height: 1.4;
  word-wrap: 'break-word'
}